$base-font: 'FT System', sans-serif;
$back-color: #000000;
$front-color: #FFF;

$base: 15px;
$phone: 888px;
 
// :export {
//   baseFont: $base-font;
//   backColor: $back-color;
//   frontColor: $front-color;
//   base: $base;
// }